


<div class="page-bar clearfix">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/index.php/Index/index">后台首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{$curmoduleurl}">{$curmodulegroupname}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">{$curmodulename}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        {$pageHeaderRightButton}
    </div>
</div>
<div class="hide-page-bar clearfix" style="display:none;">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>

</div>

<!-- END PAGE HEADER-->

