<div class="dialog_notify"></div>
<form id="editmodulegroupform" role="form" class="form-horizontal" method="post">
	<input type="hidden" name="modulegroupid" id="modulegroupid" value="{$modulegroupinfo.modulegroupid}" />

	<div class="form-body">
		<div class="form-group">
			<label class="col-md-3 control-label" for="modulegroupname">模块分组名</label>
			<div class="col-md-8">
				<input type="type" autofocus="" required="" placeholder="模块分组名" 
				value="{$modulegroupinfo.modulegroupname}"
				name="modulegroupname" id="modulegroupname" class="form-control">
			</div>
		</div>
	</div>
	<div class="form-body">
		<div class="form-group">
			<label class="col-md-3 control-label" for="modulegroupsort">模块分组排序</label>
			<div class="col-md-8">
				<input type="type" autofocus="" required="" placeholder="模块分组排序" 
				value="{$modulegroupinfo.modulegroupsort}"
				name="modulegroupsort" id="modulegroupsort" class="form-control">
			</div>
		</div>
	</div>
	
</form>

<script>


$('#editmodulegroupform').bootstrapValidator({
    feedbackIcons: {
        valid: 'fa fa-check',
        invalid: 'fa fa-times',
        validating: 'fa fa-refresh'
    },
    //container:'custom',
    fields: {
        'module_group_name': {
            validators: {
                notEmpty: {
                    message: '<div class="arrow"></div><div class="popover-content">模块分组名称不能为空</div>'
                },
                stringLength: {
                    min: 2,
                    max: 20,
                    message: '<div class="arrow"></div><div class="popover-content">名称长度不能小于2个且不能大于20个</div>'
                }
            }
        },
        'module_group_sort': {
            validators: {
                notEmpty: {
                    message: '<div class="arrow"></div><div class="popover-content">模块分组排序不能为空</div>'
                },
                integer: {
                    message: '<div class="arrow"></div><div class="popover-content">模块分组排序必须是整数</div>'
                }
            },
        }
    }
})
.on('success.form.bv', function(e) {

});

</script>


