



<script type="text/javascript" src="/statics/Plugin/umeditor1_2_2/umeditor.config.js"></script>

<script type="text/javascript" src="/statics/Plugin/umeditor1_2_2/umeditor.js"></script>
<script type="text/javascript" src="/statics/Plugin/umeditor1_2_2/lang/zh-cn/zh-cn.js"></script>

<style>
    .edui-scale{
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
</style>
<div class="dialog_notify"></div>
<form id="edittasktypeform" role="form" class="form-horizontal" method="post">
    <input type="hidden" name="tasktypeid" value="{$tasktypeinfo.tasktypeid}" />
    <div class="form-body">
        <div class="box-content bordered">

            <div class="row ">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="type_name">名称</label>
                        <div class="col-md-10">
                            <input type="type" autofocus="" placeholder="" value="{$tasktypeinfo.type_name}"
                                   name="type_name" id="type_name" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="type_sort">排序值</label>
                        <div class="col-md-10">
                            <input type="type" autofocus="" placeholder="" value="{$tasktypeinfo.type_sort}"
                                   name="type_sort" id="type_sort" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="pay_rate">定金比例</label>
                        <div class="col-md-10">
                            <input type="type" autofocus="" placeholder="" value="{$tasktypeinfo.pay_rate}"
                                   name="pay_rate" id="pay_rate" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


<script>


jQuery(document).ready(function() {
    $('#datepicker').datetimepicker({
        language: 'zh',
        format : 'yyyy-MM-dd',
        pickTime: false
    });
});

var serverPath = '/statics/Plugin/umeditor1_2_2/php/',
        um = UM.getEditor('desc', {
            imageUrl:serverPath + "imageUp.php",
            imagePath:serverPath,
            lang:/^zh/.test(navigator.language || navigator.browserLanguage || navigator.userLanguage) ? 'zh-cn' : 'en',
            langPath:UMEDITOR_CONFIG.UMEDITOR_HOME_URL + "lang/",
            focus: true
        });


// var ue = UM.getEditor('content');

$('#edittasktypeform').bootstrapValidator({
        feedbackIcons: {
            valid: 'fa fa-check',
            invalid: 'fa fa-times',
            validating: 'fa fa-refresh'
        },
        //container:'custom',
        fields: {
            'type_name': {
                validators: {
                    notEmpty: {
                        message: '<div class="arrow"></div><div class="popover-content">不能为空</div>'
                    }
                }
            },
            'type_sort': {
                validators: {
                    notEmpty: {
                        message: '<div class="arrow"></div><div class="popover-content">不能为空</div>'
                    }
                }
            },
            'pay_rate': {
                validators: {
                    notEmpty: {
                        message: '<div class="arrow"></div><div class="popover-content">不能为空</div>'
                    }
                }
            }
        }
    })
    .on('success.form.bv', function(e) {

    });


</script>





