
<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="sample_1" user="grid" aria-describedby="sample_1_info">
            <thead>
            <tr user="row">
                <th class="text-center" rowspan="1" colspan="1" aria-label="" style="width: 4%;">
                    序号
                </th>
                <th class="text-center" rowspan="1" colspan="1" aria-label="" style="width: 7%;">
                    账号
                </th>
                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="" style="width: 7%;">
                    真名
                </th>
                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="" style="width: 7%;">
                    昵称
                </th>
                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="" style="width: 208px;">
                    邮箱
                </th>
                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="" style="width: 7%;">
                    所属角色
                </th>
                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="" style="width: 4%;">
                    性别
                </th>
                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="" style="width: 208px;">
                    电话
                </th>
                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="" style="width: 208px;">
                    手机
                </th>
                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="" style="width: 7%;">
                    使用状态
                </th>
                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="" style="width: 4%">
                    排序
                </th>
                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="" style="width: 12%;">
                    操作
                </th>
            </tr>
            </thead>
            <tbody>
            {foreach name="userlist" item="oneuser" key="ukey" }
            <tr class="gradeX {php} if($ukey%2==0){ echo 'even';}else{echo 'odd';}{/php}" user="row" id="user_{$oneuser.userid}_tr">
                <td class="text-left" key="{$ukey+1}">
                    {$oneuser.userid}
                </td>
                <td class="text-center">
                    {$oneuser.username}
                </td>
                <td class="text-center">
                    {$oneuser.realname}
                </td>
                <td class="text-center">
                    {$oneuser.nickname}
                </td>
                <td class="text-center">
                    {$oneuser.email}
                </td>
                <td class="text-center">
                    {$oneuser.rolename}
                </td>
                <td class="text-center">
                    {php}
                    if($oneuser['gender']==1){
                        echo "男";
                    }
                    else{
                        if($oneuser['gender']==2){
                            echo "女";
                        }
                        else{
                            echo "保密";
                        }
                    }
                    {/php}
                </td>
                <td class="text-center">
                    {$oneuser.phone}
                </td>
                <td class="text-center">
                    {$oneuser.cellphone}
                </td>
                <td class="text-center">
                    {php}
                    if($oneuser['status']==0){
                        echo "正常";
                    }
                    else{
                        echo "禁用";
                    }
                    {/php}
                </td>
                <td class="text-center">
                    {$oneuser.sort}
                </td>
                <td class="text-center">
                    <a onclick="edituser({$oneuser.userid})" href="javascript:" title="修改用户" class="btn btn-warning btn-xs">
                        <i class="fa fa-pencil"></i> 修改
                    </a>
                    <a onclick="removeuser({$oneuser.userid})" href="javascript:" title="删除用户" class="btn btn-danger btn-xs">
                        <i class="fa fa-trash-o"></i> 删除
                    </a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>


<script>


var TableManaged = function () {

    var initTable1 = function () {

        var table = $('#sample_1');

        // begin first table
        table.dataTable({
            "columns": [{
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": false
            }, {
                "orderable": false
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": false
            }, {
                "orderable": false
            }, {
                "orderable": false
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": false
            }],
            "lengthMenu": [
                [5, 10, 15, 20, 25, 30, 35, 40, -1],
                [5, 10, 15, 20, 25, 30, 35, 40,"全部"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,
            "pagingType": "bootstrap_full_number",
            "language": {
                "lengthMenu": "  _MENU_ 条",
                "paginate": {
                    "previous":"上一页",
                    "next": "下一页",
                    "last": "最后一页",
                    "first": "第一页"
                }
            },
            "columnDefs": [{  // set default column settings
                'orderable': false,
                'targets': [0]
            }, {
                "searchable": true,
                "targets": [0]
            }],
            "order": [
                [0, "asc"]
            ] // set first column as a default sort by asc
        });

        var tableWrapper = jQuery('#sample_1_wrapper');


        tableWrapper.find('.dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    }

    return {
        init: function () {
            if (!jQuery().dataTable) {
                return;
            }
            initTable1();
        }
    };
}();

jQuery(document).ready(function() {
    TableManaged.init();
});


function adduser()
{
    BootstrapDialog.show({
        title:'添加工号',
        modalDialogClass:'modal-dialog-lg',
        message: function(dialog) {
            var $message = $('<div></div>');
            var pageToLoad = dialog.getData('url');
            $message.load(pageToLoad);
            return $message;
        },
        closable: false,
        draggable: true,
        data: {
            'url': '__URL__'+'/adduser'
        },
        buttons: [{
            id: 'btn-1',
            label: '添加',
            cssClass: 'btn-primary',
            action: function(dialog) {
                var $button = this; // 'this' here is a jQuery object that wrapping the <button> DOM element.
                $button.disable();
                $button.prepend('<i class="fa fa-spinner fa-spin"></i>');
                dialog.setClosable(false);
                if(!$('#adduserform').data('bootstrapValidator').validate().isValid())
                {
                    $button.enable();
                    dialog.setClosable(true);
                    $button.find('.fa-spinner').remove();
                	return;
                }
                var formData=$('#adduserform').serialize();
                $.ajax({
                    url: '__URL__' + '/adduser',
                    type: 'POST',
                    dataType: 'JSON',
                    timeout: 30000, //超时时间：30秒
                    data: formData,
                    error: function () {
                        $button.enable();
                        dialog.setClosable(true);
                        $button.find('.fa-spinner').remove();

                        //出现错误，直接显示通知。判断是否有dialog，有的话就显示在上面，没有就显示在全局通知。
                        showNotify(-1,'添加工号错误',1,'warning',0);
                    },
                    success: function (data) {
                        $button.enable();
                        dialog.setClosable(true);
                        $button.find('.fa-spinner').remove();
                        if(data.code==0)
                        {
                            $('.dialog_notify').remove();
                            dialog.close();
                            $('#content-list').html(data.html);
                        }
                        showNotify(data.code,data.msg,1,data.msg_type,0);
                    }
                });
            }
        },
        {
            label: '取消',
            action: function(dialog){
                dialog.close();
            }
        }]
    });
}

function edituser(userid)
{
    BootstrapDialog.show({
        title:'修改工号',
        modalDialogClass:'modal-dialog-lg',
        message: function(dialog) {
            var $message = $('<div></div>');
            var pageToLoad = dialog.getData('url');
            $message.load(pageToLoad);
            return $message;
        },
        closable: false,
        draggable: true,
        data: {
            'url': '__URL__'+'/edituser?userid='+userid
        },
        buttons: [{
            id: 'btn-1',
            label: '保存',
            cssClass: 'btn-success',
            action: function(dialog) {
                var $button = this; // 'this' here is a jQuery object that wrapping the <button> DOM element.
                $button.disable();
                $button.prepend('<i class="fa fa-spinner fa-spin"></i>');
                dialog.setClosable(false);
                if(!$('#edituserform').data('bootstrapValidator').validate().isValid())
                {
                    $button.enable();
                    dialog.setClosable(true);
                    $button.find('.fa-spinner').remove();
                    return;
                }
                var formData=$('#edituserform').serialize();
                $.ajax({
                    url: '__URL__' + '/edituser',
                    type: 'POST',
                    dataType: 'JSON',
                    timeout: 30000, //超时时间：30秒
                    data: formData,
                    error: function () {
                        $button.enable();
                        dialog.setClosable(true);
                        $button.find('.fa-spinner').remove();

                        //出现错误，直接显示通知。判断是否有dialog，有的话就显示在上面，没有就显示在全局通知。
                        showNotify(-1,'保存工号错误',1,'warning',0);
                    },
                    success: function (data) {
                        $button.enable();
                        dialog.setClosable(true);
                        $button.find('.fa-spinner').remove();
                        if(data.code==0)
                        {
                            $('.dialog_notify').remove();
                            dialog.close();
                            $('#content-list').html(data.html);
                        }
                        showNotify(data.code,data.msg,1,data.msg_type,0);
                    }
                });
            }
        },
        {
            label: '取消',
            action: function(dialog){
                dialog.close();
            }
        }]
    });
}


function removeuser(userid)
{
    BootstrapDialog.confirm('请确认','确定删除工号数据吗?', function(result){
        if(result) {
            $.ajax({
                url: '__URL__' + '/removeuser',
                type: 'POST',
                dataType: 'JSON',
                timeout: 30000, //超时时间：30秒
                data: {
                	userid: userid
                },
                error: function () {
                    //出现错误，直接显示通知。判断是否有dialog，有的话就显示在上面，没有就显示在全局通知。
                    showNotify(-1,'删除工号错误',1,'warning',0);
                },
                success: function (data) {
                    if(data.code==0)
                    {
                        $('#user_'+userid+'_tr').hide();
                    }
                    showNotify(data.code,data.msg,1,data.msg_type,0);
                }
            });
        }
        else
        {
            return false;
        }
    });
}
</script>
