<div class="toolbar-title clearfix" style="margin-bottom:10px;">
	<span>订单id:{$orderid}</span>
	<span class="pull-right">{$pageHeaderRightButton}</span>
</div>
<div class="dialog_notify"></div>
<div class="box-content bordered">

	    <table class="table table-striped table-bordered  table-condensed table-hover">
	        <thead>
	            <tr>
				  	<th height="40">订单id</th>
				  	<th>报名id</th>
				  	<th width="60" class="text-center">用户id</th>
                    <th width="60" class="text-center">描述</th>
                    <th width="60" class="text-center">图片</th>
                    <th width="60" class="text-center">状态</th>
				  	<th width="60" class="text-center">支付时间</th>
				  	<th width="120" class="text-center">操作</th>
		  		</tr>
	        </thead>
	        <tbody>

                {foreach name="signuplist" item="onesignup" key="skey" }
			  	<tr >
				    <td height="40">{$onesignup.orderid}</td>
				    <td>{$onesignup.signupid}</td>
				    <td class="text-center">{$onesignup.userid}</td>
				  	<td class="text-center">{$onesignup.desc}</td>
                    <td class="text-center">
                        {php}
                        $pics = json_decode($onesignup['pics']);
                        foreach($pics as $onepic){
                            echo '<img style="max-width:100px;" src="'.$allControl['task_image_url'].$onepic.
                            '" />';
                        }
                        {/php}
                    </td>
                    <td class="text-center">
                        {php}
                        if($onesignup['suit_state']==1){
                        echo "初稿未选中";
                        }
                        elseif($onesignup['suit_state']==2){
                        echo "初稿被选中";
                        }
                        elseif($onesignup['suit_state']==3){
                        echo "最终选中";
                        }
                        else{
                        echo "最终未选中";
                        }

                        {/php}
                    </td>
                    <td class="text-center">
                        {php}
                        echo date('Y-m-d H:i:s',$onesignup['paytime']);
                        {/php}
                    </td>
				    <td class="text-center">

                        {php}
                        if($orderinfo['state']==2){
                        echo '<a title="" id="tail_pay_'.$orderinfo['orderid'].'" class="btn green btn-xs" href="javascript:;" onclick="tailpay('.$orderinfo['orderid'].','.$onesignup['signupid'].')"><i class="fa fa-12px fa-edit"></i>支付尾款</a>';
                        }

                        {/php}
					</td>
			  	</tr>
			  	{/foreach}
			  	
	        </tbody>
	    </table>

</div>

<script>


function cancelpay(orderid,signupid){
    $.ajax({
        url: '__URL__' + '/cancelpay',
        type: 'POST',
        dataType: 'JSON',
        timeout: 30000, //超时时间：30秒
        data: {orderid:orderid,signupid:signupid},
        error: function () {
            //出现错误，直接显示通知。判断是否有dialog，有的话就显示在上面，没有就显示在全局通知。
            showNotify(-1,'保存错误',1,'warning',0);
        },
        success: function (data) {

            if(data.code==0)
            {
                $('.in_dialog_notify').remove();

            }
            showNotify(data.code,data.msg,1,data.msg_type,0);
        }
    });
}
</script>

